body {
	margin: 0;
	overflow: hidden;
}

.green {
	background-color: #008D24;
	display: flex;
}

.light_blue {
	background-color: #0B69C0;
	display: flex;
}

.purple {
	background-color: #3A246D;
}

.red {
	background-color: #CA1B22;
}

.orange {
	background-color: #EA6626;
	height:50%;
	width:100%;
}

.box-1 {
	height: 50%; 
	width: 50%;
	float: left;
}

.box {
	height: 100%; 
	width: 33.3333333%;
	float: left;
}


.row {
	height: 100%;
	width: 50%;
}

.flex {
	display: flex;
	height: 50%;
	width: 100%;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 130px;
	margin-bottom: 100px;
	width: 30%;
}

.center2 {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 130px;
	width: 30%;
}